<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow">
		<title>Status</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<link rel="stylesheet" href="milligram.min.css">
		<link rel="stylesheet" href="style.css">
		<link rel="icon" href="favicon.ico">
	</head>
	<body>

		<main class="wrapper">

			<nav class="navigation">
				<section class="container">

					
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="101.6px" height="56.7px" viewBox="0 0 101.6 56.7" style="enable-background:new 0 0 101.6 56.7;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#26B99A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{opacity:0.3;fill:#26B99A;enable-background:new    ;}
</style>
<path class="st0" d="M25.7,27L16.6,5.9c-1.8-4.1-6.6-6-10.7-4.2s-6,6.6-4.2,10.7l16.6,38.4 M59.3,26.9l9.1-21
	c1.8-4.1,6.6-6,10.7-4.2s6,6.6,4.2,10.7L66.7,50.8"/>
<path class="st0" d="M42.8,30l9,20.8c1.8,4.1,6.6,6,10.7,4.2s6-6.6,4.2-10.7L50.1,5.9 M76,30l9,20.8c1.8,4.1,6.6,6,10.7,4.2
	s6-6.6,4.2-10.7L83.3,5.9"/>
<path class="st0" d="M35.1,5.9c1.8-4.1,6.6-6,10.7-4.2s6,6.6,4.2,10.7L33.4,50.8c-1.8,4.1-6.6,6-10.7,4.2s-6-6.6-4.2-10.7L35.1,5.9z
	"/>
<path class="st1" d="M25.5,26.1c-0.7-1-1.2-2.1-1.5-3.3v-0.2c-0.6-0.8-1.1-1.7-1.5-2.7c-0.1-0.2-0.1-0.3-0.2-0.5
	c-1,2.1-7.6,16.9-8.7,19.5c1.1,2.6,2.3,5.1,3.4,7.7c0.6-1.5,1.3-2.9,1.9-4.2c2.3-5.4,4.2-10.7,7.1-15.5
	C25.9,26.6,25.7,26.4,25.5,26.1z M42.8,30.3c0.7,1,1.2,2.1,1.5,3.3v0.2c0.6,0.8,1.1,1.7,1.5,2.7c0.1,0.2,0.1,0.3,0.2,0.5
	c1-2.1,7.6-16.9,8.7-19.5c-1.1-2.6-2.3-5.1-3.4-7.7c-0.6,1.5-1.3,2.9-1.9,4.2c-2.3,5.4-4.2,10.7-7.1,15.5
	C42.4,29.8,42.6,30.1,42.8,30.3z M76.6,30.3c0.7,1,1.2,2.1,1.5,3.3v0.2c0.6,0.8,1.1,1.7,1.5,2.7c0.1,0.2,0.1,0.3,0.2,0.5
	c1-2.1,7.6-16.9,8.7-19.5c-1.1-2.6-2.3-5.1-3.4-7.7c-0.6,1.5-1.3,2.9-1.9,4.2C80.9,19.4,79,24.7,76,29.6
	C76.2,29.8,76.4,30.1,76.6,30.3z M59.9,26.1c0.7-1,1.2-2.1,1.5-3.3v-0.2c0.6-0.8,1.1-1.7,1.5-2.7c0.1-0.2,0.1-0.3,0.2-0.5
	c1,2.1,7.6,16.9,8.7,19.5c-1.1,2.6-2.3,5.1-3.4,7.7c-0.6-1.5-1.3-2.9-1.9-4.2c-2.3-5.4-4.2-10.7-7.1-15.5
	C59.5,26.6,59.7,26.4,59.9,26.1z"/>
</svg>
						<h1 class="title">System Status</h1>
					



				</section>
			</nav>

			<section class="container" id="main">
				{% if not panels %}
					<div class="panel operational">
						All Systems operational.
					</div>
				{% else %}
					{% for severity, systems in panels.items() if systems %}
					<div class="panel {{ severity }}">
						{{ severity.capitalize() }} on {% for system in systems %}{{ system }}{% if not loop.last %}, {% endif %}{% endfor %}.
					</div>
					{% endfor %}
				{% endif %}

				<h4>Systems</h4>
				<ul class="systems">
					{% for system, data in systems.items() %}
					<li>
						{{ system }} <span class="status {{ data.status }}">{{ data.status }}</span>
					</li>
					{% endfor %}
				</ul>

				<h4>Incidents</h4>
				{% if incidents %}
					{% for incident in incidents %}
					<div class="incident">
						<span class="date">{{ incident.created }}</span>

						{% if incident.closed %}
							<span class="label operational float-right">resolved</span>
						{% else %}
							<span class="label {{ incident.severity }} float-right">{{ incident.severity }}</span>
						{% endif %}
						{% for system in incident.systems %}
							<span class="label system float-right">{{ system }}</span>
						{% endfor %}
						<hr/>

						<span class="title">{{ incident.title }}</span>
						<p>{{ incident.body }}</p>
						{% for update in incident.updates %}
							<p><em>Update {{ update.created }}</em><br/>
							{{ update.body }}
							</p>
						{% endfor %}
					</div>
					{% endfor %}
				{% else %}
					<em>No incidents in the past 90 days.</em>
				{% endif %}
			</section>


			<footer class="footer">
				<section class="container">
					<hr/>
					<p>Return to <a href="https://webmaintenance.co">Web Maintenance</a></p>
				</section>
			</footer>

		</main>

	</body>
</html>